body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
  padding: 40px;
}

.song {
  background: #1e1e1e;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}
