body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

nav {
  background: #222;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px;
  background: #f4f4f4;
}

section {
  padding: 40px;
}
